/* code for the lesson text*/
a{
    color:rgb(155, 160, 168);
    text-decoration: none;
}
/* code for the video*/
.logoText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin-bottom: 0%;
    margin-top: 0%;
}
.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom:0px;
    padding: 198px 0;
    position: relative;
    overflow: hidden;
}
/* code for the video*/
.video-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-35%);
    min-width: 10%;
    min-height: 10%;
    z-index: -1;

}
/*fade in text*/
@keyframes fade-inout {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
.fade-in-fade-out{
    animation: fade-inout 3s;
}
/* top menu or navigation bar*/
h1 {
    font-family: arial;
    font-size: 3em;
    text-shadow: 2px 2px 3px rgb(21, 21, 54);
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(4, 27, 61);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
 
}
.navbar a:hover{
    background-color: rgb(57, 57, 120);
}
.navbar li{
    float:left;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body {
    background-color: rgb(1,11,26);
    color: rgb(155, 160, 168);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
